In [1]:
import pandas as pd
import random
import numpy as np
data = pd.read_sas('a2z_insurance.sas7bdat')

In [2]:
data.head()

,CustID,FirstPolYear,BirthYear,EducDeg,MonthSal,GeoLivArea,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
0,1.0,1985.0,1982.0,b'2 - High School',2177.0,1.0,1.0,380.97,0.39,375.85,79.45,146.36,47.01,16.89
1,2.0,1981.0,1995.0,b'2 - High School',677.0,4.0,1.0,-131.13,1.12,77.46,416.20,116.69,194.48,106.13
2,3.0,1991.0,1970.0,b'1 - Basic',2277.0,3.0,0.0,504.67,0.28,206.15,224.50,124.58,86.35,99.02
3,4.0,1990.0,1981.0,b'3 - BSc/MSc',1099.0,4.0,1.0,-16.99,0.99,182.48,43.35,311.17,35.34,28.34
4,5.0,1986.0,1973.0,b'3 - BSc/MSc',1763.0,4.0,1.0,35.23,0.90,338.62,47.80,182.59,18.78,41.45

# Data cleaning

set index to be custom ID

In [3]:
data.set_index('CustID',inplace=True)

drop the useless feature

In [4]:
data=data.drop(columns='GeoLivArea')

fill the missing value

fill the missing value of Premiums part by 0

In [5]:
data.iloc[:,-5:]=data.iloc[:,-5:].fillna(0)

fill the missing value of Education colunm by most frequent value

In [6]:
data['EducDeg'] = data['EducDeg'].fillna(data['EducDeg'].value_counts().index[0])

clean the string in the colunm of Education

In [7]:
data['EducDeg'] = data['EducDeg'].astype(str).str.replace(r"[\', ]", '')
data['EducDeg'].value_counts()

b3-BSc/MSc       4816
b2-HighSchool    3510
b1-Basic         1272
b4-PhD            698
Name: EducDeg, dtype: int64

fill the missing value of Monthly salary by average of total

In [8]:
data['MonthSal'] = data['MonthSal'].fillna(data['MonthSal'].mean())

Fill in the missing values of 'FirstPolYear' and 'BirthYear', 
from the corresponding positions of 'FirstPolYear' and 'BirthYear'

In [9]:
data['FirstPolYear']=data['FirstPolYear'].fillna(data['BirthYear'])
data['BirthYear']=data['BirthYear'].fillna(data['FirstPolYear'])

Find the custom who missed value in both year colunm

In [10]:
data.loc[data['BirthYear'].isnull()]

,FirstPolYear,BirthYear,EducDeg,MonthSal,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
CustID,,,,,,,,,,,,
756.0,NaN,NaN,b4-PhD,2913.0,0.0,430.20,0.28,465.20,59.45,94.13,4.89,10.00
3761.0,NaN,NaN,b2-HighSchool,2067.0,1.0,-47.67,1.04,495.87,58.90,61.90,22.67,3.78
5191.0,NaN,NaN,b3-BSc/MSc,2772.0,0.0,-25.00,1.00,326.84,216.15,164.03,45.23,13.67

for ID756 find the similar data and fill the missing value

In [11]:
data.loc[(data['EducDeg']== 'b4-PhD') & (data['MonthSal']>=2863)
         &(data['MonthSal']<=2963)& (data['Children']==0)
        &(data['CustMonVal']>=370.2)]

,FirstPolYear,BirthYear,EducDeg,MonthSal,Children,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
CustID,,,,,,,,,,,,
756.0,NaN,NaN,b4-PhD,2913.0,0.0,430.20,0.28,465.20,59.45,94.13,4.89,10.00
2333.0,1997.0,1959.0,b4-PhD,2878.0,0.0,409.64,0.36,417.19,99.45,135.47,23.45,6.00
4589.0,1985.0,1948.0,b4-PhD,2949.0,0.0,375.64,0.33,388.74,23.90,172.70,1.89,13.89

In [12]:
data.loc[756,'FirstPolYear']=round((data.loc[2333,'FirstPolYear']+data.loc[4589,'FirstPolYear'])/2)
data.loc[756,'BirthYear']=round((data.loc[2333,'BirthYear']+data.loc[4589,'BirthYear'])/2)

for ID3761 find the similar data and fill the missing value

In [13]:
ID3761_S=data.loc[(data['EducDeg']== 'b2-HighSchool') & (data['MonthSal']>=2017)
         &(data['MonthSal']<=2117)& (data['Children']==1)
        &(data['CustMonVal']<0)]

In [14]:
data.loc[3761,'FirstPolYear']=round(ID3761_S['FirstPolYear'].mean())
data.loc[3761,'BirthYear']=round(ID3761_S['BirthYear'].mean())

for ID5191 find the similar data and fill the missing value

In [15]:
ID5191_S=data.loc[(data['EducDeg']== 'b3-BSc/MSc') & (data['MonthSal']>=2722)
         &(data['MonthSal']<=2822)& (data['Children']==0)
        &(data['CustMonVal']<0)]

In [16]:
data.loc[5191,'FirstPolYear']=round(ID5191_S['FirstPolYear'].mean())
data.loc[5191,'BirthYear']=round(ID5191_S['BirthYear'].mean())

fill the missing value in the 'Children' by randomly choose the value from the column itself

In [17]:
data['Children'].fillna(lambda x: random.choice(data[data['Children'] != np.nan]["column"]), inplace =True)

In [19]:
data.corr()

,FirstPolYear,BirthYear,MonthSal,CustMonVal,ClaimsRate,PremMotor,PremHousehold,PremHealth,PremLife,PremWork
FirstPolYear,1.000000,-0.010192,0.006720,0.000820,-0.001208,0.002332,-0.005571,0.000598,-0.003796,-0.004191
BirthYear,-0.010192,1.000000,-0.694474,0.003526,0.004435,-0.156633,0.150414,0.002734,0.233150,0.206956
MonthSal,0.006720,-0.694474,1.000000,-0.003256,-0.003510,0.135350,-0.133172,-0.001635,-0.195549,-0.173602
CustMonVal,0.000820,0.003526,-0.003256,1.000000,-0.992622,0.033959,0.032664,0.000987,0.010447,0.020218
ClaimsRate,-0.001208,0.004435,-0.003510,-0.992622,1.000000,-0.006312,-0.007958,0.006294,0.001516,-0.001034
PremMotor,0.002332,-0.156633,0.135350,0.033959,-0.006312,1.000000,-0.274046,-0.075930,-0.407115,-0.347157
PremHousehold,-0.005571,0.150414,-0.133172,0.032664,-0.007958,-0.274046,1.000000,0.025393,0.263880,0.240620
PremHealth,0.000598,0.002734,-0.001635,0.000987,0.006294,-0.075930,0.025393,1.000000,0.028402,0.081013
PremLife,-0.003796,0.233150,-0.195549,0.010447,0.001516,-0.407115,0.263880,0.028402,1.000000,0.346038
PremWork,-0.004191,0.206956,-0.173602,0.020218,-0.001034,-0.347157,0.240620,0.081013,0.346038,1.000000